@import "tailwindcss";

@layer utilities {
  .font-playfair {
    font-family: var(--font-playfair);
  }

  /* Additional styles can go here */
}

:root {
  --background: #FFFFFF;
  --foreground: #0F172A;
  /* Additional tokens here */

  /* colors */
  --color-primary: #2563EB;
  --color-secondary: #1D4ED8;
  --color-accent: #34D399;
}

@media (max-width: 767px) {
  :root {
    --background: #FFFFFF;
    --foreground: #0F172A;
  }
}